1) How-to-count-distance-to-the-previous-zero

For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.
3) Find the sum of the values in s for every Wednesday
4) Average For each calendar month
5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [5]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [ ]:
# 1) How-to-count-distance-to-the-previous-zero

In [20]:
df = pd.DataFrame({'X' : [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [21]:
x = (df['X'] != 0).cumsum()
y = x != x.shift()
df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

In [22]:
df

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

In [ ]:
#2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers

In [32]:
datetimeindex = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
s = pd.Series(np.random.rand(len(datetimeindex)), index=datetimeindex)

In [34]:
s

2015-01-01    0.281905
2015-01-02    0.992225
2015-01-05    0.920998
2015-01-06    0.119062
2015-01-07    0.361124
2015-01-08    0.126003
2015-01-09    0.578331
2015-01-12    0.312219
2015-01-13    0.540662
2015-01-14    0.652034
2015-01-15    0.382465
2015-01-16    0.021147
2015-01-19    0.871374
2015-01-20    0.752991
2015-01-21    0.115848
2015-01-22    0.657033
2015-01-23    0.385530
2015-01-26    0.597150
2015-01-27    0.289927
2015-01-28    0.636339
2015-01-29    0.904088
2015-01-30    0.947599
2015-02-02    0.066802
2015-02-03    0.414204
2015-02-04    0.812889
2015-02-05    0.893723
2015-02-06    0.482386
2015-02-09    0.075935
2015-02-10    0.635810
2015-02-11    0.528697
                ...
2015-11-20    0.984910
2015-11-23    0.637310
2015-11-24    0.633816
2015-11-25    0.165346
2015-11-26    0.343472
2015-11-27    0.081367
2015-11-30    0.713295
2015-12-01    0.013210
2015-12-02    0.411868
2015-12-03    0.859239
2015-12-04    0.192967
2015-12-07    0.703131
2015-12-08    0.951556
2015-12-09    0.965996
2015-12-10    0.850550
2015-12-11    0.932170
2015-12-14    0.922111
2015-12-15    0.010576
2015-12-16    0.060510
2015-12-17    0.476379
2015-12-18    0.934521
2015-12-21    0.706974
2015-12-22    0.971737
2015-12-23    0.639490
2015-12-24    0.399783
2015-12-25    0.616040
2015-12-28    0.233043
2015-12-29    0.747135
2015-12-30    0.573929
2015-12-31    0.023361
Freq: B, Length: 261, dtype: float64

In [ ]:
#3) Find the sum of the values in s for every Wednesday

In [35]:
s[datetimeindex.weekday == 2].sum()

25.913025896024852

In [ ]:
#4) Average For each calendar month

In [37]:
s.resample('M').mean()

2015-01-31    0.520275
2015-02-28    0.523796
2015-03-31    0.383970
2015-04-30    0.508220
2015-05-31    0.480934
2015-06-30    0.463378
2015-07-31    0.463322
2015-08-31    0.410836
2015-09-30    0.507950
2015-10-31    0.525743
2015-11-30    0.514148
2015-12-31    0.573751
Freq: M, dtype: float64

In [ ]:
#5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [39]:
s.groupby(pd.TimeGrouper('4M')).max()

C:\Users\VijayaLavanya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31    0.992225
2015-05-31    0.946021
2015-09-30    0.980784
2016-01-31    0.996092
dtype: float64